{% extends "usuarios/layouts/main.html" %}    

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">  

    <form action="", method="POST", enctype="multipart/form-data" >
        {% csrf_token %} 
        <h2> Edicion de  Producto </h2>
        <div class="form-group">
            <label for=""> Nombre de Producto: </label>
            {{ form.producto }} 
            {% if form.errors.producto %}
                <label class="text-danger"> {{ form.errors.producto}}</label>
            {% endif%}
        </div>
        <div class="form-group">
            <label for=""> Descripcion: </label>
            {{ form.descripcion }} 
        </div>


        <div class="form-group">
            <label for=""> </label>
            <input type="text" class="form-control" name="propietario" value="{{user.id}}"  hidden>

        </div>

        <div class="form-group">
            <label for="">Categoria: </label>
            {{form.categoria}}
            <!--
            <input type="text" class="form-control" name="categoria" value="15"  hidden>
            -->
        </div>

        <div class="form-group">
            <label for=""> Precio Orig: </label>
            {{ form.precio_original }} 
        </div>


        <div class="form-group">
            <label for=""> Precio: </label>
            {{ form.precio }} 
            {% if form.errors.precio %}
                <label class="text-danger"> {{ form.errors.precio}}</label>
            {% endif%}
        </div>

        <div class="form-group">
            <label for=""> Existencia: </label>
            {{ form.existencia }} 
            {% if form.errors.existencia %}
                <label class="text-danger"> {{ form.errors.existencia}}</label>
            {% endif%}
        </div>

        <div class="form-group">
            <label for=""> Esta activo?: </label>
            {{ form.esta_activo}}
        </div>
        
        <div class="form-group">
            <label for=""> Oferta: </label>
            {{ form.en_oferta }} 
        </div>
   

        <div class="form-group">
            <label for=""> imagen: </label>
            {{ form.product_image }}
            {% if form.errors.product_image %}
                <label class="text-danger"> {{ form.errors.product_image}}</label>
            {% endif%}

        </div>
        <button type="submit" class="btn float-end shadow btn-success px-4"> Actualizar </button>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}    

</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}